$color-primary: #5ca6f0;
$border-radius: 6px;
$border-radius-sm: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5fae\8f6f\96c5\9ed1",Arial,sans-serif;

$responsive-breakpoint-max: 2160px !default;
$responsive-breakpoint-xxxxl: 1920px !default;
$responsive-breakpoint-xxxl: 1680px !default;
$responsive-breakpoint-xxl: 1440px !default;
$responsive-breakpoint-xl: 1280px !default;
$responsive-breakpoint-lg: 960px !default;
$responsive-breakpoint-md: 768px !default;
$responsive-breakpoint-sm: 480px !default;