.display-container {
  height: calc(100vh - 6vw - 122px);
  animation: display .6s;

  .department-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    .department-item {
      position: relative;
      flex-basis: 11.1%;
      cursor: pointer;
      transition: transform .3s;
  
      &:hover {
        transform: scale(1.05);
      }

      .department-bg {
        width: 100%;
      }

      .department-cover {
        position: absolute;
        width: 50%;
        left: 30%;
        top: 50%;
      }
  
      .department-name {
        position: absolute;
        text-align: center;
        left: 35%;
        width: 5em;
        top: 20%;
        color: #fff;
      }
    }
  }

  @keyframes display {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.scroll-bar {
  position: fixed;
  left: calc(100% - var(--padding-horzontal));
  top: 0;
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scroll-bar__thumb {
    margin: 10px 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(6px);
    transition: all .3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.4);
    }

    &.active {
      background-color: #fce08a;
    }
  }
}

.scroll-tip {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #fce08a;
  animation: bounce 2s infinite;

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

body {
  overflow: hidden;
}