.department-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;

  .department-item {
    position: relative;
    flex-basis: 11.1%;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
    }

    .department-name {
      position: absolute;
      user-select: none;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
      width: 2em;
      writing-mode: vertical-lr;
      color: #fff;
    }
  }
}

.statistics {
  background-image: url('https://pams-1318030356.cos.ap-shanghai.myqcloud.com/red_bannner.png');
  background-repeat: no-repeat;
  background-size: cover;

  .statistics-inner {
    padding-right: 50px;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255, .3);

    .counts {
      display: flex;
      flex-direction: column;
    }

    .el-statistic {
      --el-statistic-title-color: #fff;
      --el-statistic-content-color: #fff;

      flex-basis: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}