.display-container {
  height: 80vh;
  animation: display .6s;

  .department-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    .department-item {
      position: relative;
      flex-basis: 11.1%;
      cursor: pointer;
      transition: transform .3s;
  
      &:hover {
        transform: scale(1.05);
      }

      .department-bg {
        width: 100%;
      }

      .department-cover {
        position: absolute;
        width: 50%;
        left: 30%;
        top: 50%;
      }
  
      .department-name {
        position: absolute;
        text-align: center;
        left: 35%;
        width: 5em;
        top: 20%;
        color: #fff;
      }
    }
  }

  @keyframes display {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.scroll-bar {
  position: fixed;
  left: calc(100% - var(--padding-horzontal));
  top: 0;
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scroll-bar__thumb {
    margin: 10px 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(6px);
    transition: all .3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.4);
    }

    &.active {
      background-color: #fce08a;
    }
  }
}

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    position: fixed;
    width: 100%;
    height: 100%;

    .container {
      position: fixed;
      height: 100%;
      width: 100%;
      background-size: cover;

      .header {
        position: fixed;
        min-height: 20vh;
      }

      .main {
        margin-top: 20vh;

        #app {
          height: 80vh;
          overflow-y: scroll;
          scroll-behavior: smooth;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}