.log-detail {
  transition: inset .2s ease;
}

.slide-up {
  &-enter-from, &-leave-to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(.8);
  }

  &-enter-to, &-leave-from {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }

  &-enter-active {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &-leave-active {
    transition: all 0.2s ease;
  }
}