.login-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://pams-1318030356.cos.ap-shanghai.myqcloud.com/bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .login-header {
    margin: 5vh auto;
    display: flex;
    justify-content: center;

    > img {
      width: 70px;
      height: 70px;
    }

    > h1 {
      margin-left: 10px;
      color: #ff4726;
      font-family: KaiTi;
    }
  }

  .el-card {
    border-radius: 10px;
  }

  .login-form {
    box-sizing: border-box;
    width: 420px;
    padding: 0 40px;
    padding-bottom: 20px;
    margin: 0 auto;

    h2 {
      text-align: center;
    }
  }

  .login-btn {
    width: 100%;
    display: block;
  }
}

@at-root .dark .login-wrapper {
  filter: brightness(90%);
}