@use '../_var' as *;

.basic-info-container {
  margin-top: 8px;

  .el-image {
    height: 300px;
    overflow: hidden;
    border-radius: $border-radius;
  }

  .el-carousel {
    border-radius: $border-radius;
    overflow: hidden;

    .el-image {
      width: 100%;
      height: 100%;
    }
  }
}