@use '../_var' as *;

.deed-item {
  display: flex;
  justify-content: center;
  height: 120px;
  animation: fade-in .3s;

  .deed-item-left {
    width: 560px;
    margin-right: 100px;

    .deed-item__title {
      width: 50%;
      margin: 8px 0;
      margin-bottom: 12px;
      height: 24px;
      cursor: pointer;

      &:hover {
        transition: color .3s;
        color: $color-primary;
      }
    }

    .deed-item__paragraph-row {
      margin: 3px 0;

      &:last-child {
        width: 60%;
      }
    }

    .deed-item__paragraph {
      width: 100%;
      white-space: normal;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
    }
  }

  .deed-item-right {
    width: 200px;
    height: 100%;
    border-radius: 8px;
  }
}